<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">

<title>Login</title>
<link rel="stylesheet" href="{% static 'wind/css/signuplogin.css' %}" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/jquery-1.10.2.min.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/easyform.js' %}"></script>

</head>

<body>
<br>
<div class="form-div">
    <form  id="reg-form" action="" method="post">
	
        <table>
			<caption class="caption" align="top"><strong>Login in</strong></caption>		
            <tr>
                <td>Username</td>
                <td><input name="username" type="text" id="username" easyform="length:4-16;char-normal;real-time;" message="Username must be 4—16 letters" easytip="disappear:lost-focus;theme:blue;">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                 <td><input name="psw1" type="password" id="psw1" easyform="length:6-16;" message="password must be 6—16 letters" easytip="disappear:lost-focus;theme:blue;"></td>
            </tr>
      
        </table>

		<div class="buttons">
			<input value="Signup" type="submit" style="margin-right:42px; margin-top:20px;width:80px;">
	
        </div>
		
        <br class="clear">
    </form>
<script type="text/javascript">
$(document).ready(function(){
	$('#reg-form').easyform();
	return false;
});
</script>
</body>
</html>