
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!-- <title>Portal</title> -->
<link href="{% static 'wind/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'wind/css/bootstrap-theme.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'wind/css/mystyleportal.css' %}" rel="stylesheet" type="text/css"> 
<link href="{% static 'wind/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'wind/css/mapstyle.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="{% static 'wind/css/jquery-ui.css' %}"/>
<!--引入脚本是一定要先引入jquery,因为bootstrap.js是基于jquery.js的-->
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/jquery-1.10.2.min.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/bootstrap.min.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/echarts-all.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/bootstrap-datetimepicker.fr.js"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/jquery-ui.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/bootstrap-datetimepicker.js' %}"></script>



<!--
<script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAleMoQ_WF66fQRIRfGzVNoYLTnxoJb4c4&sensor=false">
</script>

<script>
function initialize()
{
	var mapProp = {
	  center:new google.maps.LatLng(30.67,104.06),
	  zoom:5,
	  mapTypeId:google.maps.MapTypeId.ROADMAP
	  };
	var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
	var myCenter=new google.maps.LatLng(30.67,104.06);
	var chongqing=new google.maps.LatLng(29.35,106.33)
	var marker=new google.maps.Marker({
  		position:myCenter,
 	 });
	var marker_chongqing=new google.maps.Marker({
  		position:chongqing,
 	 });

	marker.setMap(map);
	marker_chongqing.setMap(map);
	var infowindow = new google.maps.InfoWindow({
	  	content:"成都发电厂"
	  });

	infowindow.open(map,marker);
	var infowindow = new google.maps.InfoWindow({
		  content:"重庆发电厂"
	  });
	infowindow.open(map,marker_chongqing);
	//点击事件
	google.maps.event.addListener(marker,'click',function(event) {
	  document.getElementById("loc").innerHTML="Chengdu<br/>"+"lat:"+event.latLng.lat()+" lng:"+event.latLng.lng();
	  });

	google.maps.event.addListener(marker_chongqing,'click',function(event) {
	  document.getElementById("loc").innerHTML="Chongqing<br/>"+"lat:"+event.latLng.lat()+" lng:"+event.latLng.lng();
	  });

	 var geocoder = new google.maps.Geocoder();	
	//地图查询事件
	function codeAddress(allAddress) {
		
		if (geocoder) {
			geocoder.geocode({
				'address' : allAddress
			},
			function(results, status) {
				if (status == google.maps.GeocoderStatus.OK) {
					map.setCenter(results[0].geometry.location);
					map.setZoom(8);
					//beachMarker.setPosition(results[0].geometry.location);//显示图钉
					//填值
					//$('#lng').val(results[0].geometry.location.lng());
					//$('#lat').val(results[0].geometry.location.lat());
				} else {
					alert("加载地图失败，原因为: "
							+ status);
				}
			});
		}
	}
	//搜索按钮点击
	$('#searchMap').click(function(){
		codeAddress($('#searchTxt').val());
	});
}
google.maps.event.addDomListener(window, 'load', initialize);

</script>
-->

</head>

<body>
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
	  <!--header-->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WindPredictSystem</a>
        </div>
		
        <div id="navbar" class="navbar-collapse collapse">
		
          <ul class="nav navbar-nav navbar-right">
		  
		  <!--userinformationBegin-->
            <li class="dropdown">
     		 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				 {{username}}<span class="caret"></span> </a>
              <ul class="dropdown-menu" >
                <li><a href="#">UserInfo</a></li>
				<li><a href="#">Settings</a></li>
             </ul>
           </li>
		   <!--userinformationEnd-->
		   
		    <li><a href="#">Logout</a></li>
          </ul>
         
        </div>
      </div>
    </nav>
	
	
	<!-- containerBegin-->
	<div class="container-fluid">
		<div class="row">
			 <div class="col-sm-3 col-md-2 sidebar ">
			       <ul class="nav nav-sidebar">				
           		   	 <li><a id="Home" href="{% url 'portal'%}?id=Home">Home</a></li>
           		   	 <li><a id="UploadFiles" href="{% url 'wind.views.uploadfiles'%}?id=UploadFiles">Upload Files </a></li>
          		<!-- 	 <li class="sidebar-menu">
						<a href="#WindPredict" class="nav-header menu-first collapsed" data-toggle="collapse">WindPredict</a>
						<ul id="WindPredict" class="nav nav-list collapse menu-second">
							<li><a href="#">4hours</a></li>
							<li><a href="#">24hours</a></li>
							<li><a href="#">72hours</a></li>						
						</ul>
					 </li> -->
					 
					  <li class="sidebar-menu">
						<a href="#WindPredict" class="nav-header menu-first collapsed" data-toggle="collapse">WindPredict</a>
						<ul id="WindPredict" class="nav nav-list collapse  menu-second">
							<li  ><a id="WindPredict1" href="{% url 'wind.views.speed'%}?id=WindPredict1">WindSpeed</a></li>

							<li><a id="WindPredict2" href="{% url 'wind.views.power'%}?id=WindPredict2">WindPower</a></li>
							<!-- <li><a href="?id=WindPredict2">Dampness</a></li>
							<li><a href="?id=WindPredict3">Pressure</a></li> -->
							
						</ul>
					</li>
					
					 <li class="sidebar-menu" id="userMeun1">
						<a href="#userMeun" class="nav-header menu-first collapsed" data-toggle="collapse">UserManagement</a>
						<ul id="userMeun" class="nav nav-list collapse menu-second">
							<li><a href="?id=userMeun1">Add Users</a></li>
							<li><a href="?id=userMeun2">Delete Users</a></li>
							
						</ul>
					</li>
           				 </ul>		
			</div>
		 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 "> <!-- main -->
			{% block content %}

    	 	{% endblock content %}

		</div>	
	      </div>
         </div>
	<!--containerEnd-->
	
	
	
</body>
<script type="text/javascript">
//collapse

	function parse_url(url) {
	  if (url.lastIndexOf('?') == 0) {
	    var str = url.substring(url.lastIndexOf('?') + 1, url.length);
	    var arr = str.split('&');
	    var parames = [];
	    for (var i = 0; i < arr.length; i++) {
	      parames[arr[i].split('=')[0]] = arr[i].split('=')[1];
	    }
	    return parames;
	  }
	}


	var type = parse_url(location.search);
	//alert(type['id']);
	if (type['id']=="WindPredict1" || type['id']=="WindPredict2") {
		var menutype=type['id'];
		menutype=menutype.substring(0,menutype.length-1);
		  $('#'+menutype).attr('class','nav nav-list menu-second');
		  $('#'+type['id']).css('display','block');
	  	  $('#'+type['id']).css('background-color','#aac3ec');
	 	  $('#'+type['id']).css('color','#322227');
	}

	else if(type['id']=="Home")
	{
		$('#'+type['id']).css('display','block');
		$('#'+type['id']).css('background-color','#aac3ec');
	 	$('#'+type['id']).css('color','#322227');
	}
	else if(type['id']=="UploadFiles")
	{

		$('#'+type['id']).css('display','block');
		$('#'+type['id']).css('background-color','#aac3ec');
	 	$('#'+type['id']).css('color','#322227');
	}
</script>
</html>

