
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load staticfiles %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<!-- <title>Portal</title> -->
<link href="{% static 'wind/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'wind/css/bootstrap-theme.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'wind/css/mystyleportal.css' %}" rel="stylesheet" type="text/css"> 
<!-- <link href="{% static 'wind/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"> -->
<link href="{% static 'wind/css/mapstyle.css' %}" rel="stylesheet" type="text/css"/>
<!-- <link rel="stylesheet" href="{% static 'wind/css/jquery-ui.css' %}"/> -->
<link rel="stylesheet" href="{% static 'wind/css/jquery.datetimepicker.css' %}"/>
<link rel="stylesheet" href="{% static 'wind/css/validate_input.css' %}"/>

<!--引入脚本是一定要先引入jquery,因为bootstrap.js是基于jquery.js的-->
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/jquery-1.11.2.min.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/bootstrap.min.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/echarts-all.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/jquery.validate.min.js' %}"></script>
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/jquery.metadata.js' %}"></script>

</head>

<body>
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
	  <!--header-->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WindPredictSystem</a>
        </div>
		
        <div id="navbar" class="navbar-collapse collapse">
		
          <ul class="nav navbar-nav navbar-right">
		  
		  <!--userinformationBegin-->
            <li class="dropdown">
     		 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
				 {{username}}<span class="caret"></span> </a>
              <ul class="dropdown-menu" >
                <li><a href="#">UserInfo</a></li>
				<li><a href="#">Settings</a></li>
             </ul>
           </li>
		   <!--userinformationEnd-->
		   
		    <li><a href="#">Logout</a></li>
          </ul>
         
        </div>
      </div>
    </nav>
	
	
	<!-- containerBegin-->
	<div class="container-fluid">
		<div class="row">
			 <div class="col-sm-3 col-md-2 sidebar ">
			       <ul class="nav nav-sidebar">				
           		   	 <li><a id="Home" href="{% url 'portal'%}">Home</a></li>
           		   	 <li><a id="UploadFiles" href="{% url 'wind.views.uploadfiles'%}">Upload Files </a></li>
          		<!-- 	 <li class="sidebar-menu">
						<a href="#WindPredict" class="nav-header menu-first collapsed" data-toggle="collapse">WindPredict</a>
						<ul id="WindPredict" class="nav nav-list collapse menu-second">
							<li><a href="#">4hours</a></li>
							<li><a href="#">24hours</a></li>
							<li><a href="#">72hours</a></li>						
						</ul>
					 </li> -->
					 
					  <li class="sidebar-menu">
						<a href="#WindPredict" class="nav-header menu-first collapsed" data-toggle="collapse">Statistical model prediction</a>
						<ul id="WindPredict" class="nav nav-list collapse  menu-second">
							<li  ><a id="speed" href="{% url 'wind.views.speed'%}">WindSpeed</a></li>

							<li><a id="power" href="{% url 'wind.views.power'%}">WindPower</a></li>
							
							<!-- <li><a href="?id=WindPredict2">Dampness</a></li>
							<li><a href="?id=WindPredict3">Pressure</a></li> -->
							
						</ul>
					</li>
					<!--  <li  ><a id="weather" href="{% url 'wind.views.weather'%}">WeatherPredict</a></li> -->
					 <li class="sidebar-menu">
						<a href="#WeatherPredict" class="nav-header menu-first collapsed" data-toggle="collapse">Physical model prediction</a>
						<ul id="WeatherPredict" class="nav nav-list collapse  menu-second">
							<li  ><a id="weather" href="{% url 'wind.views.weather'%}">Wind field animation</a></li>
							<!-- <li><a href="?id=WindPredict2">Dampness</a></li>
							<li><a href="?id=WindPredict3">Pressure</a></li> -->
							<li  ><a id="seweather" href="{% url 'wind.views.seweather'%}">WeatherPredict2</a></li>
						</ul>
					</li>
					 <li class="sidebar-menu" id="userMeun1">
						<a href="#userMeun" class="nav-header menu-first collapsed" data-toggle="collapse">UserManagement</a>
						<ul id="userMeun" class="nav nav-list collapse menu-second">
							<li><a href="?id=userMeun1">Add Users</a></li>
							<li><a href="?id=userMeun2">Delete Users</a></li>
							
						</ul>
					</li>
           				 </ul>		
			</div>
		 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 "> <!-- main -->
			{% block content %}

    	 	{% endblock content %}

		</div>	
	      </div>
         </div>
	<!--containerEnd-->
	
	
	
</body>
</html>

