{% extends 'wind/portal_base.html' %}
{% block content %}
{% load staticfiles %}
<style type="text/css">
#main{
	height:380px;
	width:700px;
	border:1px solid #ccc;
	padding:0px;
	}

.tbl{
	height:300px;
	width:800px;
	border:1px solid #ccc;
	padding:10px;
	overflow-y:scroll
}
#anim{
	width: 140px;
	height: 28px;
}
#submit{

	width: 80px;
	height: 28px;
/*	padding-bottom: 1px;*/
 	margin-left: 4px;
}
input[type="submit"]
{
	font-size: 14px;
	font-weight: bold;
}

a:link{
	color: #000000;
	 TEXT-DECORATION: none
}

a:hover{
	color: #3eaae5;
	 TEXT-DECORATION: none
}

.itable{
	border-collapse:collapse;
	background-color: #ffffff;
	font-size: 14px;
	border:2px solid #69c;
}

caption{
	color: #000;
	text-align: center;
	font-size: 22px;
}
.itable td{
	border:1px solid #69c;
	line-height: 19px;
	text-align:center;
	width: 130px;
}
.ithead {
	background-color: #dddddd;
	font-size: 16px;
	font-weight: bold;
}
/*table .ithead th{
	border:3px solid #69c;
	line-height: 19px;
	text-align:center;
	width: 130px;
	font-size: 16px;
}
table thead tr{
	border:1px solid #69c;
}
.ithead{
	border:1px solid #69c;
}
.ithead{
	background-color:#dddddd;
	position:relative;	
}*/



</style>
<title>WindPower</title>
<h3>WindPredictSystem/<small>Wind Power</small></h3>
<hr width="100%">

<!-- <div class="col-sm-11  col-md-11 " > -->
<div class="col-sm-9 col-sm-offset-1 col-md-9 col-md-offset-1" >

<!-- 	<link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
	<script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="jqueryui/style.css"> -->
	
</head>
<body>
<!-- <form>
	<label>Time：</label><input type="text" id="datepicker" size="23">
	<label>Windturbine：</label>
		<select id="anim">
			<option value="show">Show (默认)</option>
			<option value="slideDown">滑下</option>
			<option value="fadeIn">淡入</option>
			<option value="blind">Blind (UI 百叶窗特效)</option>
			<option value="bounce">Bounce (UI 反弹特效)</option>
			<option value="clip">Clip (UI 剪辑特效)</option>
			<option value="drop">Drop (UI 降落特效)</option>
			<option value="fold">Fold (UI 折叠特效)</option>
			<option value="slide">Slide (UI 滑动特效)</option>
			<option value="">无</option>
		</select>
	<input type="submit" value="submit" id="submit"/>
 </form> -->
 <form id="form1" method="POST" action="">
	<label>Date：</label><input type="text" id="datetimepicker" size="14" name="datetimepicker" readonly="true" >
	<label >Windturbine：</label>
		<select id="anim" name="anim">
			{% for value in list3%}
			<option value='{{value}}'>{{value}}</option>
			{%endfor%}
 
		</select>
		<!-- <button id="btn"><strong>查询</strong></button> -->
	<input type="submit" value="submit" id="submit" />
	<!-- <a  href="{% static 'excel_file/PowerWindTurbine12015032016.xls' %}">下载excel文件</a> -->
	{% if if_post %}
	<a  href="/img/extr_dm4_wsp_at_25.29D121.58D68.50M.txt.tar.gz">下载文件</a>
	{% endif %}
 </form>
 <hr>
 {%if if_post%}
  <h3>{{anim}}</h3>
 {% endif %}
 {%if if_notexist%}
  <h3>Sorry,{{anim}}is not found!</h3>
 {% endif %}

 {%if if_post%}
 <div id="main"></div> 
 <hr>
 <!-- <div class="tbl">
 <table class="itable">
 <caption>能量控制具体数据</caption>
 <tr class="ithead">
 <td>year</td><td>rrrr</td><td>1eee1</td><td>1www</td><td>ggggr</td><td>1vvvv1</td></tr>

 <tbody>
 {%for l in txt_list%}
 <tr>
  {%for v in l%}
  <td>{{v}}</td>
  {%endfor%}
 </tr>
 {%endfor%}
 </tbody>
 
 </table>
 </div> -->
 {% endif %}

 <!-- <iframe class="frame1" src="/img/power.xls" name=iframe1></iframe> -->
 </div> 

 </body>
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/datetimepicker.js' %}"></script>
   
   <script type="text/javascript">
        // Step:3 echarts & zrender as a Global Interface by the echarts-plain.js.
        // Step:3 echarts和zrender被echarts-plain.js写入为全局接口
	var myChart = echarts.init(document.getElementById('main'));
	option={

		title:{
			text:'风功率'
		},
		tooltip : {
              		  trigger: 'axis'
            		},
		legend:{
			//orient:'horizontal',
			//backgroundColor:'#eee',
			data:['Average','EXP','low','high']
			},

	calculable : true,
	toolbox: {
                show : true,
                feature : {
                  /*  mark : {show: true},*/
                    dataZoom:{show:true},
                 /*   dataView : {show: true, readOnly: false},*/
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },

        	 dataZoom : {
       		 show : true,
       		 realtime: true,
       		 start : 0,
       		 end : 100
   		 },
		xAxis:[
			{
			type:'category',
			/*boundaryGap : false,*/
			data:[{% for time in date_time %}'{{time}}',{% endfor %}]

		
			}
		],

		yAxis:[			
			{
			type:'value',
			axisLabel:{
				formatter:'{value} KJ'},
			},			
		],
		
		series:[
			{
			name:'Average',
			type:'line',
			symbol:'none',
			itemStyle: {
               			normal: {
                   		 		color: 'red',
                   					 lineStyle: {        // 系列级个性化折线样式
                      					 width: 1,
                      					 type: 'solid'
                    					}
                				},
           				 },
			data:[{% for speed in ave %}{{speed}},{% endfor %}],
			/*markPoint : {
               			 data : [
                    			{type : 'max', name: '最大值'},
                    			{type : 'min', name: '最小值'}
               				 ]
          			   },*/
			/* markLine : {
              			  data : [
                   			 {type : 'average', name: '平均值'}
               				 ]
         			   }*/
			},

			{
			name:'EXP',
			type:'line',
			symbol:'none',
			itemStyle: {
               			normal: {
                   		 		color: 'blue',
                   					 lineStyle: {        // 系列级个性化折线样式
                      					 width: 1,
                      					 type: 'solid'
                    					}
                				},
           				 },
			data:[{% for speed in obs %}{{speed}},{% endfor %}],
			/*markPoint : {
               			 data : [
                    			{type : 'max', name: '最大值'},
                    			{type : 'min', name: '最小值'}
               				 ]
          			   },*/
			/* markLine : {
              			  data : [
                   			 {type : 'average', name: '平均值'}
               				 ]
         			   }*/
			},

			


			{
			name:'low',
			type:'line',
			symbol:'none',
			itemStyle: {
               			normal: {
                   		 		color: 'purple',
                   					 lineStyle: {        // 系列级个性化折线样式
                      					 width: 1,
                      					 type: 'dashed'
                    					}
                				},
           				 },
			data:[{% for speed in low %}{{speed}},{% endfor %}],
			/*markPoint : {
               			 data : [
                    			{type : 'max', name: '最大值'},
                    			{type : 'min', name: '最小值'}
               				 ]
          			   },*/
			/* markLine : {
              			  data : [
                   			 {type : 'average', name: '平均值'}
               				 ]
         			   }*/
			},

			{
			name:'high',
			type:'line',
			symbol:'none',
			itemStyle: {
               			normal: {
                   		 		color: 'green',
                   					 lineStyle: {        // 系列级个性化折线样式
                      					 width: 1,
                      					 type: 'dashed'
                    					}
                				},
           				 },
			data:[{% for speed in high %}{{speed}},{% endfor %}],
			/*markPoint : {
               			 data : [
                    			{type : 'max', name: '最大值'},
                    			{type : 'min', name: '最小值'}
               				 ]
          			   },*/
			/* markLine : {
              			  data : [
                   			 {type : 'average', name: '平均值'}
               				 ]
         			   }*/
			},
		],
};
	myChart.setOption(option);
	

    </script>
    <script>
    //////////////////////////////////////////////////Date ////////////////////////////////////////////////////
	/*$(function() {
		$( "#datepicker" ).datepicker();
			$( "#datepicker" ).datepicker( "option", "showAnim", "show");
	});
*/
	$('#datetimepicker').datetimepicker({
		step:30
	/*mask:'9999/19/39 29:59',*/
	/*onChangeDateTime:logic,
	onShow:logic*/
	});
   //////////////////////////////////////////////////Date /////////////////////////////////////////////////////


    //////////////////////////////////////////////////Date Input Box Check!/////////////////////////////////
	$("#submit").click(function(){
   	$("#form1").validate({
	  rules:{
	  datetimepicker:"required",
	},
	messages:{
	  datetimepicker: "",
	}
	});  //表单验证
	if(!$("#form1").valid()){
	alert("请正确填写表单！");
	return false;
	}
	});
    //////////////////////////////////////////////////Date Input Box Check!/////////////////////////////////
	</script>
     

     <script type="text/javascript">
 //////////////////////////////////////////////Speed css//////////////////////////////////////////////////////
     	  $('#WindPredict').attr('class','nav nav-list menu-second');
		  $('#power').css('display','block');
	  	  $('#power').css('background-color','#aac3ec');
	 	  $('#power').css('color','#322227');
//////////////////////////////////////////////Speed css//////////////////////////////////////////////////////
     </script>

{% endblock content %}