{% extends 'wind/portal_base.html' %}
{% block content %}
{% load staticfiles %}

<h3>WindPredictSystem/<small>Wind Speed</small></h3>
<hr>
<style type="text/css">
#main{
	height:250px;
	width:800px;
	border:1px solid #ccc;
	padding:0px;
	}
	
.frame1{
	height:300px;
	width:800px;
	border:1px solid #ccc;
	padding:10px;
}
#anim{
	width: 170px;
	height: 28px;
}

#submit{

	width: 90px;
	height: 28px;
/*	padding-bottom: 1px;*/
 	margin-left: 4px;
}

input[type="submit"]
{
	font-size: 14px;
}

a:link{
	color: #000000;
	 TEXT-DECORATION: none
}

a:hover{
	color: #3eaae5;
	 TEXT-DECORATION: none
}
</style>
<title>WindSpeed</title></head></head>
<div class="col-sm-9 col-sm-offset-7 col-md-9 col-md-offset-1 " >

<body>
<form method="POST" action="" onsubmit="return check();">
	<label>Date：</label><input type="text" id="datetimepicker" size="23" name="date" readonly="true" required="required";>
	<label >Windturbine：</label>
		<select id="anim" name="anim">
			{% for value in list3%}
			<option value='{{value}}'>{{value}}</option>
			<!-- <option value="slideDown">滑下</option>
			<option value="fadeIn">淡入</option>
			<option value="blind">Blind (UI 百叶窗特效)</option>
			<option value="bounce">Bounce (UI 反弹特效)</option>
			<option value="clip">Clip (UI 剪辑特效)</option>
			<option value="drop">Drop (UI 降落特效)</option>
			<option value="fold">Fold (UI 折叠特效)</option>
			<option value="slide">Slide (UI 滑动特效)</option>
			<option value="">无</option>-->
			{%endfor%}
 
		</select>
		<!-- <button id="btn"><strong>查询</strong></button> -->
	<input type="submit" value="submit" id="submit" />
<a  href="{% static 'excel_file/SpeedWindTurbine12015032016.xls' %}">下载excel文件</a>
 </form>

 <hr>
 {%if if_post%}
  <h3>{{anim}}___{{file_date}}</h3>
 {% endif %}
 {%if if_notexist%}
  <h3>Sorry,{{anim}} {{file_date}} is not found!</h3>
 {% endif %}

 {%if if_post%}
 <div id="main"></div>
  <hr>
 <iframe class="frame1" src={{txtpath}} name=iframe1></iframe> 
 {% endif %}


 </div> 
 </body>
<!-- <script language="JavaScript" type="text/javascript" src="{% static 'wind/js/jquery.js' %}"></script> -->
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/datetimepicker.js' %}"></script>
<script>
	/*$(function() {
		$( "#datepicker" ).datepicker();
		$( "#datepicker" ).datepicker( "option", "showAnim","Show" );	
		$( "#datepicker" ).datepicker( "option", "showAnim", "show");
	
	});*/
////////////////////////////////////////////////Date////////////////////////////////////////////////////////
	$('#datetimepicker').datetimepicker({
	/*mask:'9999/19/39 29:59',*/
	/*onChangeDateTime:logic,
	onShow:logic*/
	});
////////////////////////////////////////////////Date////////////////////////////////////////////////////////


	$("#submit").click(function(){
   	 if($("#datetimepicker").val()=="")
  	  {
     	 	  alert("Please input the date！");
     	 	  return false;
  	  }
	});
	
</script>
    <script type="text/javascript">
        // Step:3 echarts & zrender as a Global Interface by the echarts-plain.js.
        // Step:3 echarts和zrender被echarts-plain.js写入为全局接口
	var myChart = echarts.init(document.getElementById('main'));
	option={

		title:{
			text:'风速信息'
		},
		tooltip : {
              		  trigger: 'axis'
            		},
		legend:{
			//orient:'horizontal',
			//backgroundColor:'#eee',
			data:['平均风速']
			},

		calculable : true,
		toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },

		/*xAxis:[
			{
			type:'category',
			data:['{{list1.0}}','周二','周三','周四','周五','周六','周日']
		
			}
		],*/
		xAxis:[
			{
			type:'category',
			data:[{% for time in list1 %}'{{time}}',{% endfor %}]
		
			}
		],

		yAxis:[			
			{
			type:'value',
			axisLabel:{
				formatter:'{value} 米/秒'},
			},

			
		],
		
		series:[
			{
			name:'平均风速',
			type:'line',
			data:[{% for speed in list2 %}{{speed}},{% endfor %}],
			markPoint : {
               			 data : [
                    			{type : 'max', name: '最大值'},
                    			{type : 'min', name: '最小值'}
               				 ]
          			   },
			 markLine : {
              			  data : [
                   			 {type : 'average', name: '平均值'}
               				 ]
         			   }
			},
		

		],
};

	myChart.setOption(option);

    </script>
    

    <script type="text/javascript">
	function check(){
		var date = document.getElementById("datepicker");
		if(date == ""){
    		alert("名字不可为空");
    		return false;
}
    </script>


    <script type="text/javascript">
    //////////////////////////////////////////////Speed css//////////////////////////////////////////////////////
     	  $('#WindPredict').attr('class','nav nav-list menu-second');
		  $('#speed').css('display','block');
	  	  $('#speed').css('background-color','#aac3ec');
	 	  $('#speed').css('color','#322227');

    //////////////////////////////////////////////Speed css//////////////////////////////////////////////////////
     </script>

{% endblock content %}