
<html>
{% extends 'wind/portal_base.html' %}
{% block content %}

  <!--<h3 class="page-title">
	Visual Charts <small>visual charts & graphs</small></h3>
	-->
  <title>UploadFiles</title>
	<h3>
	WindPredictSystem/<small>Upload files</small></h3>
	<hr>
  </br>
  <div class="col-sm-9 col-sm-offset-7 col-md-9 col-md-offset-1 " >
	<form enctype="multipart/form-data" method="POST" action=""> 
		{% csrf_token %}
   		<input type="file" name="file" />
 		  <br /> 
  		 <input type="submit" value="上传文件" /> 
  		 {% if if_success%}
  		 {{filename}} Upload,Successful!
  		 {% endif%}
  		 {% if if_addfile%}
  		please add the file to upload!
  		 {% endif%}
  		 {% if if_xls%}
  		 not excel,please upload again
  		 {% endif%}
	</form>
  </div>


{% endblock content %}
