{% extends 'wind/portal_base.html' %}
{% block content %}
{% load staticfiles %}
<link href="{% static 'wind/css/jquery-ui.css' %}" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/jquery-ui.js' %}"></script>
<!-- <script language="JavaScript" type="text/javascript" src="{% static 'wind/js/jquery.js' %}"></script> -->
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/datetimepicker.js' %}"></script>
<style type="text/css">
#slider{
   	position: absolute;
	top: 5px;
	border-radius: 6px;
	width:530px;
	height:12px;	
	float:left;
	display: inline;
}
/*body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}*/

#anim{
	width: 120px;
	height: 28px;
}

#submit{

	width: 65px;
	height: 28px;
/*	padding-bottom: 1px;*/
 	margin-left: 4px;
}

.weatherdiv{
	margin-top: 2px;
	margin-left: 40px;
	float:left; 
	position:relative;
	overflow:hidden;
	width:600px;
	height:410px;
}

.slidediv{
	margin-bottom: 8px;
	margin-left: 40px;
	position:relative;
	margin-top: -4px;
	overflow:hidden;
	width:600px;
	height:30px;
}
.divblock{
	 border:5px solid #eeeeee;

}

input[type="submit"]
{
	font-size: 14px;
	font-weight: bold;
}

a:link{
	color: #000000;
	 TEXT-DECORATION: none
}

a:hover{
	color: #3eaae5;
	 TEXT-DECORATION: none
}
.speeddiv{
	display:inline;
	height:12px;
	margin-right: 10px;
	top:0px;
	font-size: 14px;
	font-weight:bold;
}
#anim{
	width: 115px;
	height: 28px;
}
#datetimepicker1,#datetimepicker2{
	width:125px;
}
/*.frame1{
	height:400px;
	width:800px;
	border:1px solid #ccc;
	padding:10px;
}*/
</style>

<h3>WindPredictSystem/<small>WeatherPredict</small></h3>
<hr>
<title>WeatherPredict</title></head></head>
<!-- <div class="col-sm-11  col-md-11 " > -->
<div class="col-sm-9 col-sm-offset-1 col-md-9 col-md-offset-1" >

<body>
<!-- <form method="POST" action="" >
	<label>Dm：</label><input type="text" id="Dm" size="16" name="Dm"  required="required";>
	<label>Ht：</label><input type="text" id="Ht" size="16" name="Ht"  required="required";>
	<label>Nt：</label><input type="text" id="Nt" size="16" name="Nt"  required="required";>
	<input type="submit" value="submit" id="submit" />
 </form> -->
<form id= "form1"method="POST" action="">
	<label>Domain：</label><input type="text" id="domain" value='1' size="6" name="domain" required="required" >
	<label>From：</label><input type="text" id="datetimepicker1" value="2013/02/06 01:00" size="10" name="datetimepicker1" readonly="true" >
	<label>To：</label><input type="text" id="datetimepicker2" value="2013/02/08 01:00" size="10" name="datetimepicker2" readonly="true" >
	<label>Above ground height(m)：  </label><input type="text" id="Ht" value='68.5' size="4" name="Ht"  required="required">
	<input type="submit" value="submit" id="submit" />
 </form> 
 <hr>
 {%if img%}
 
 <div class="slidediv">
<div class="speeddiv">Speed:</div>
 <div id="slider"></div>
 </div>
 <div class="weatherdiv" name="pic" >
 	{%for val in imgpath%}

	<div class="divblock"><img width="580" height="400" src={{val}}></div>
	{%endfor%}
</div>
{%endif%}


 </body>
 <script>
    //////////////////////////////////////////////////Date ////////////////////////////////////////////////////
	$('#datetimepicker1').datetimepicker({
		step:30
	/*mask:'9999/19/39 29:59',*/
	/*onChangeDateTime:logic,
	onShow:logic*/
	});
	$('#datetimepicker2').datetimepicker({
		step:30
	});
	$("#submit").click(function(){
   	$("#form1").validate({
	  rules:{
	  domain: {
	      required:true,
	      number:true
	  },
	  datetimepicker1:"required",
	  datetimepicker2:"required",
	  Ht: {
	      required:true,
	      number:true
	  },
	},
	messages:{
	   domain: {
	   	required:"",   
	   },
	  datetimepicker1:"",
	  datetimepicker2:"",
	  Ht: {
	   	required:"",   
	   },
	}
});  //表单验证
if(!$("#form1").valid()){
return false;
}
	});
</script>

    <script type="text/javascript">
    //////////////////////////////////////////////Speed css//////////////////////////////////////////////////////
     	  $('#WeatherPredict').attr('class','nav nav-list menu-second');
		  $('#weather').css('display','block');
	  	  $('#weather').css('background-color','#aac3ec');
	 	  $('#weather').css('color','#322227');

    //////////////////////////////////////////////Speed css//////////////////////////////////////////////////////

    ////////////////////////////////////////input alert//////////////////////////////////////////////////
  </script>
     <script type="text/javascript">

 ////////////////////////////////////////speedchange//////////////////////////////////////////////////

	 var t;
 	 var speed = 3;//图片切换速度  the faster,the bigger
 	 var nowlan=0;//图片开始时间
 	 var mul=50;

  	 $(function() {
   	 $( "#slider").slider({
      	   orientation: "horizontal",
       	 range:"min",
        	 value: 50,
     	// slide: changespeed,
      	  change: changespeed
     	 });
    	  $( "#slider" ).slider( "value", 50 );
 	 });

	function changespeed(){
 	 mul=100-$( "#slider" ).slider( "value" )*0.8;
	}

	function changepic() {
	var imglen = $("div[name='pic']").find("div").length;
	$("div[name='pic']").find("div").hide();
	$("div[name='pic']").find("div").eq(nowlan).show();
	nowlan = nowlan+1 ==imglen ?0:nowlan + 1;
	t = setTimeout("changepic()", speed*mul);
	}
$(document).ready(function () {
//鼠标在图片上悬停让切换暂停
$("div[name='pic']").hover(function () { clearInterval(t); });
//鼠标离开图片切换继续
$("div[name='pic']").mouseleave(function () { changepic(); });
changepic();
});

 ////////////////////////////////////////speedchange//////////////////////////////////////////////////
    </script>

{% endblock content %}