{% extends 'wind/portal_base.html' %}
{% block content %}
{% load staticfiles %}
<link href="{% static 'wind/css/jquery-ui.css' %}" rel="stylesheet" type="text/css">
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/jquery-ui.js' %}"></script>
<!-- <script language="JavaScript" type="text/javascript" src="{% static 'wind/js/jquery.js' %}"></script> -->
<script language="JavaScript" type="text/javascript" src="{% static 'wind/js/datetimepicker.js' %}"></script>
<style type="text/css">
#slider{
   	position: absolute;
	top: 5px;
	border-radius: 6px;
	width:530px;
	height:12px;	
	float:left;
	display: inline;
}
/*body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}*/

#anim{
	width: 120px;
	height: 28px;
}

#submit{

	width: 65px;
	height: 28px;
/*	padding-bottom: 1px;*/
 	margin-left: 4px;
}

.weatherdiv{
	margin-top: 2px;
	margin-left: 40px;
	float:left; 
	position:relative;
	overflow:hidden;
	width:600px;
	height:410px;
}

.slidediv{
	margin-bottom: 8px;
	margin-left: 40px;
	position:relative;
	margin-top: -4px;
	overflow:hidden;
	width:600px;
	height:30px;
}
.divblock{
	 border:5px solid #eeeeee;

}

input[type="button"]
{
	font-size: 14px;
	font-weight: bold;
}

input[type="text"]
{
	width:60px;
}

#submit{
	width:80px;
}

a:link{
	color: #000000;
	 TEXT-DECORATION: none
}

a:hover{
	color: #3eaae5;
	 TEXT-DECORATION: none
}
.speeddiv{
	display:inline;
	height:12px;
	margin-right: 10px;
	top:0px;
	font-size: 14px;
	font-weight:bold;
}
#anim{
	width: 115px;
	height: 28px;
}

#datetimepicker1,#datetimepicker2,#datetimepicker3{
	width: 135px;
}

#picDiv1,#picDiv2,#picDiv3{
	width: 400px;
	height: 400px;
	margin-top: 30px;
}



/*.frame1{
	height:400px;
	width:800px;
	border:1px solid #ccc;
	padding:10px;
}*/
</style>

<h3>WindPredictSystem/<small>WeatherPredict</small></h3>
<hr>
<title>WeatherPredict</title></head>
 
</head>
<!-- <div class="col-sm-11  col-md-11 " > -->
<div class="col-sm-9 col-sm-offset-1 col-md-9 col-md-offset-1" >

<body>


 <div>
 <ul class="nav nav-tabs" style="margin-left: 20px;">
                        <li class="active"><a href="#tab_1" id="mouth_health_indicators"
                            data-toggle="tab">Wind field prediction</a></li>
                        <li><a class="" href="#tab_2" data-toggle="tab" 
                            id="carddiovascular_risk_assessment">Wind speed time series prediction</a></li>
                        <li><a class="" href="#tab_3" data-toggle="tab" 
                            id="exercise_care">Domain information</a></li>
                </ul> 

<div id="myTabContent" class="tab-content" style="margin-top:50px;">
<div id="tab_1" class="tab-pane active" >
<form id="div1" method="GET">
	<label>Domain：</label><input type="text" id="Dm" size="16" name="Dm"  required="required";>
	<label>Above ground height(m)：</label><input type="text" id="Ht" size="16" name="Ht"  required="required";>
	<label>Starting time：</label><input type="text" id="datetimepicker1" size="10" readonly="true" name="datetimepicker1" >
	<input type="button" value="submit" id="submit1"  onclick="div1Click()" />	
 </form> 
 	<div id="picDiv1"></div>
 </div> 

  <script>
var imgFirst = "<img src= " + "'" ;
var imgLast =   "'"+ "/>";
function div1Click(){
     $("#div1").validate({
    rules:{
   Dm: "required",
   Ht: "required",
   datetimepicker1: "required",
  },
messages:{
  Dm: "",
   Ht: "",
  datetimepicker1: "",
}
});  //表单验证
if(!$("#div1").valid()){
alert("请正确填写表单！");
return false;
}
     var Dm = $("#Dm").val();
     var Ht= $("#Ht").val();
     var Dt= $("#datetimepicker1").val();
     alert(Dm);
     alert(Ht);
     alert(Dt);
      $.get("/wind/weatherDiv1", {'Dm':Dm,'Ht':Ht,'Dt':Dt}, function(ret){
        alert(ret);  
        var pic1 = document.getElementById("picDiv1");
        alert(pic1); 
        var img = imgFirst + ret + imgLast
        alert(img);
        pic1.innerHTML = img;
            });
}
</script>





<div id="tab_2" class="tab-pane " style="margin-top:50px;">
	<form id="div2" method="GET">
	<label>Domain：</label><input type="text" id="Dm2" size="16" name="Dm2"  required="required";>
	<label>Latitude(°)：</label><input type="text" id="Lat" size="16" name="Lat"  required="required";>
	<label>Longitude(°)：</label><input type="text" id="Lon" size="16" name="Lon"  required="required";>
      <label>Above ground height(m)：</label><input type="text" id="Agh" size="16" name="Agh"  required="required";><br>
	<label>Sartingtime：</label><input type="text" id="datetimepicker2" size="10" readonly="true" name="datetimepicker2" >
	<label>Endtime：</label><input type="text" id="datetimepicker3" size="10" readonly="true" name="datetimepicker3" >
	<input type="button" value="submit" id="submit2"  onclick="div2Click()" />
 </form> 
 <div id="picDiv2"></div>
</div>
<script>
function div2Click(){
     $("#div2").validate({
    rules:{
   Dm2: "required",
   Lat: "required",
   Lon:"required",
   Agh: "required",
   datetimepicker2: "required",
   datetimepicker3: "required",
  },
messages:{
  Dm2: "",
   Dm2: "",
   Lat: "",
   Lon:"",
   Agh: "",
   datetimepicker2: "",
   datetimepicker3: "",
}
});  //表单验证
if(!$("#div2").valid()){
alert("请正确填写表单！");
return false;
}
     var Dm = $("#Dm2").val();
     var Lat= $("#Lat").val();
     var Lon= $("#Lon").val();
     var Agh = $("#Agh").val();
     var St= $("#datetimepicker2").val();
     var Et= $("#datetimepicker3").val();
     alert(Dm);
     alert(Lat);
     alert(Lon);
     alert(St);
     alert(Et);
     var imgFirst = "<img src= " + "'" 
     var imgLast =   "'"+ "/>";
      $.get("/wind/weatherDiv2", {'Dm':Dm,'Lat':Lat,'Lon':Lon,'Agh':Agh,'St':St,'Et':Et}, function(ret){
      	 alert(ret);  
        var pic2 = document.getElementById("picDiv2");
        alert(pic2); 
        var img = imgFirst + ret + imgLast
        alert(img);
        pic2.innerHTML = img;
            });
}
 </script>


<div id="tab_3" class="tab-pane " style="margin-top:50px;">
<form id = "div3" method="GET" action="">
	<label>Domain：</label><input type="text" id="Dm3" size="16" name="Dm3" />	
	<input type="button" value="submit" id="submit3"  onclick="div3Click()"  />
 </form> 
 <div id="picDiv3"></div>
 </div>
 <script>

function div3Click(){
$("#div3").validate({
  rules:{
  Dm3: "required",
},
messages:{
  Dm3: "",
}
});  //表单验证
if(!$("#div3").valid()){
alert("请正确填写表单！");
return false;
}
     var Dm = $("#Dm3").val();
 //    alert(Dm);
      $.get("/wind/weatherDiv3", {'Dm':Dm}, function(ret){
//      alert(ret);  
        var pic3 = document.getElementById("picDiv3");
//        alert(pic3); 
        var img = imgFirst + ret + imgLast
//        alert(img);
        pic3.innerHTML = img;
            });
}
 </script>
</div>
</div>
 
 {%if img%}
 
 <div class="slidediv">
<div class="speeddiv">Speed:</div>
 <div id="slider"></div>
 </div>
 <div class="weatherdiv" name="pic" >
 	{%for val in imgpath%}

	<div class="divblock"><img width="580" height="400" src={{val}}></div>
	{%endfor%}
</div>
{%endif%}


 </body>
 <script>
    //////////////////////////////////////////////////Date ////////////////////////////////////////////////////
	$('#datetimepicker1').datetimepicker({
	step:30
	});
	$('#datetimepicker2').datetimepicker({
		step:30
	});
	$('#datetimepicker3').datetimepicker({
		step:30
	});
</script>

    <script type="text/javascript">
    //////////////////////////////////////////////Speed css//////////////////////////////////////////////////////
     	  $('#WeatherPredict').attr('class','nav nav-list menu-second');
		  $('#seweather').css('display','block');
	  	  $('#seweather').css('background-color','#aac3ec');
	 	  $('#seweather').css('color','#322227');

    //////////////////////////////////////////////Speed css//////////////////////////////////////////////////////

    ////////////////////////////////////////input alert//////////////////////////////////////////////////
  </script>
  <script type="text/javascript">
  	/*$("#submit").click(function(){
  		var dm=$("#Dm").val();
  		var ht=$("#Ht").val();
  		var nt=$("#Nt").val();

   	 if($("#Dm").val()==""||$("#Ht").val()==""||$("#Nt").val()=="")
  	  {
     	 	  alert("Please input the parameter！");
     	 	  return false;
  	  }
  	 if(isNaN(dm)||isNaN(ht)||isNaN(nt)){
   		 alert('Parameter format is wrong, please input again');
   		 return false;
	}
	});*/
////////////////////////////////////////input alert//////////////////////////////////////////////////
  </script>



     <script type="text/javascript">

 ////////////////////////////////////////speedchange//////////////////////////////////////////////////

	 var t;
 	 var speed = 6;//图片切换速度
 	 var nowlan=0;//图片开始时间
 	 var mul=50;

  	 $(function() {
   	 $( "#slider").slider({
      	   orientation: "horizontal",
       	 range:"min",
        	 value: 50,
     	// slide: changespeed,
      	  change: changespeed
     	 });
    	  $( "#slider" ).slider( "value", 50 );
 	 });

	function changespeed(){
 	 mul=100-$( "#slider" ).slider( "value" )*0.8;
	}

	function changepic() {
	var imglen = $("div[name='pic']").find("div").length;
	$("div[name='pic']").find("div").hide();
	$("div[name='pic']").find("div").eq(nowlan).show();
	nowlan = nowlan+1 ==imglen ?0:nowlan + 1;
	t = setTimeout("changepic()", speed*mul);
	}
$(document).ready(function () {
//鼠标在图片上悬停让切换暂停
$("div[name='pic']").hover(function () { clearInterval(t); });
//鼠标离开图片切换继续
$("div[name='pic']").mouseleave(function () { changepic(); });
changepic();
});

 ////////////////////////////////////////speedchange//////////////////////////////////////////////////
    </script>

{% endblock content %}

