/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}


/*   修改sidebar的布局*/
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #d1d1d1;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -28px;
  text-align:left;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  /*color:#0099FF;*/
  /*color:#1978cf;*/
/*  color:#1978cf;*/
  color:#0965cf;
  font-size:18px;
  border-bottom: 2px solid #dfdfdf;

}
.nav-sidebar > li > a:hover{
			text-decoration: none;
			background-color:#b3b3b3;
			border-top: 1px solid #b7b7b7;
			border-bottom: 1px solid #acacac;
			border-right: 1px solid #555555;
		}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*×ó²à²Ëµ¥*/
		.sidebar-menu{
			border-right: 1px solid #dddddd;
		}
		/*Ò»¼¶²Ëµ¥*/
	/*	.menu-first{
			height:45px;
			line-height:45px;
			background-color: #e9e9e9;
			border-top: 1px solid #efefef;
			border-bottom: 1px solid #e1e1e1;
			padding: 0;
			font-size: 14px;
			font-weight: normal;
			text-align: center;
		}*/
		/*Ò»¼¶²Ëµ¥Êó±ê»®¹ý×´Ì¬*/
	/*	.menu-first:hover{
			text-decoration: none;
			background-color: #d6d4d5;
			border-top: 1px solid #b7b7b7;
			border-bottom: 1px solid #acacac;
		}*/
		/*¶þ¼¶²Ëµ¥*/
		.menu-second li a{
			background-color: #eaeaea;
			height:31px;
			line-height:31px;
			border-top: 1px solid #efefef;
			border-bottom: 1px solid #efefef;
			font-size: 12px;
			text-indent:40px;
			color:#666666;
			font-size:16px;
		}
		

		/*¶þ¼¶²Ëµ¥Êó±ê»®¹ýÑùÊ½*/
		.menu-second li a:hover {
			text-decoration: none;
			background-color: #aac3ec;
			border-top: 1px solid #83ceed;
			border-bottom: 1px solid #83ceed;
			border-right: 3px solid #f8f8fc;
			border-left: 3px solid #f8f8fc;
		}

			/*¶þ¼¶²Ëµ¥Ñ¡ÖÐ×´Ì¬*/
		.menu-second li a.selected{
			display: block;
			background-color: #dddddd;
			color: #111111;
			
		}
		/*¶þ¼¶²Ëµ¥Ñ¡ÖÐ×´Ì¬*/
		.menu-second-selected {
			background-color: #66c3ec;
			height:31px;
			line-height:31px;
			border-top: 1px solid #83ceed;
			border-bottom: 1px solid #83ceed;
			border-right: 3px solid #f8881c;
			border-left: 3px solid #66c3ec;
			text-align:center;
		}
		/*¸²¸ÇbootstrapµÄÑùÊ½*/
		.nav-list,.nav-list li a{
			padding: 0px;
			margin: 0px;
		}



